/* MLAlgorithmsPage.css */
.ml-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 1em 0;
}

.algorithm-selection h2 {
  text-align: center;
  margin: 1em 0;
}

.algorithms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
}

.algorithm {
  border: 0.0625em solid #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Adjust the height as needed */
  cursor: pointer;
  background-color: #fff;
}

.algorithm.selected {
  border-color: blue;
  border-width: 0.125em;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #f0f0f0;
}

.button {
  padding: 0.625em 1.25em;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #007bff;
  color: white;
}
