/* SensorsPage.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will space out the children */
  height: 100vh; /* Use 100% of the viewport height */
}

  
  .header {
    text-align: center;
    background-color: #ffffff; 
    padding: 1em 0;
    color: #007bff;
  }
  
  .cameras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    text-align: center;
  }
  
  .camera {
    border: 0.0625em solid #d0d0d0;
    padding: 0.5em;
    cursor: pointer;
    background-color: #fff;
  }
  
  .camera.selected {
    border-color: blue;
  }
  
  .camera .video {
    max-width: 100%;
    height: auto;
  }
  
  .cameraName {
    margin-top: 0.5em;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #ffffff;
  }
  
  .button {
    padding: 0.625em 1.25em;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .buttonExit {
    background-color: #dc3545;
    color: white;
  }
  
  .button:not(.buttonExit) {
    background-color: #007bff;
    color: white;
  }
  