/* SensorsPage.css */

Copy code
.sensor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Helps in distributing space */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Removes default margin */
  overflow: hidden; /* Hides any content that overflows */
}

.sensor-header {
  flex: 0 1 auto; /* Flexible, but not growing beyond content size */
  text-align: center;
  background-color: #ffffff;
  padding: 1em 0;
  color: #007bff;
}
  
.cameras {
  flex: 1 1 auto; /* Grows to use available space, but can also shrink */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  overflow-y: auto; /* Allows scrolling within the grid if necessary */
  text-align: center;
}

.navigation {
  flex: 0 1 auto; /* Flexible, but not growing beyond content size */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #ffffff;
}
  
.camera {
    border: 0.0625em solid #d0d0d0;
    padding: 0.5em;
    cursor: pointer;
    background-color: #fff;
}
  
.camera.selected {
    border-color: blue;
}
  
.camera .video {
    max-width: 80%;
    height: auto;
}
  
.cameraName {
    margin-top: 0.5em;
}
  
.sensor-button {
  padding: 0.625em 1.25em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.sensor-buttonExit {
  background-color: #dc3545;
  color: white;
}
  
.sensor-button.sensor-buttonExit {
  background-color: #dc3545;
  color: white;
}

.sensor-button:not(.buttonExit) {
    background-color: #007bff;
    color: white;
}
  