.uploadapipage {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    text-align: center;
    background-color: #ffffff; 
    padding: 1em 0;
    color: #007bff;
  }
  .walkthrough-button {
    background: #ebecee;
    border: 2px solid #b4b9be;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    color: #007BFF;
    transition: background 0.3s, border 0.3s;
  }
  
  .walkthrough-button:hover {
    color: #0056b3;
  }

  .input-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .input-container input {
    width: 100%;
    max-width: 600px; 
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 2px solid #007bff;
  }
  
  .submitted-values-container {
    position: relative; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
    overflow-x: auto; 
  }

  .upload-button-container {
    padding: 0.625em 1.25em;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }


  .submitted-value {
    background-color: #ffffff; 
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 2px solid #007bff;
    padding: 5px 10px; 
    margin-right: 10px; 
    white-space: nowrap;
    cursor: pointer; 
    transition: background-color 0.3s; 
    position: relative; 
  }
  
  .submitted-value::after {
    content: 'X'; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 1em; 
    font-weight: bold;
    color: white;
    background-color: #dc3545;
    border-radius: 100%;
    width: 1em; 
    height: 1em; 
    display: none;
    line-height: 1em; 
    text-align: center; 
    width: var(--x-size); 
    height: var(--x-size);
  } 
  
  .submitted-value:hover {
    background-color: #dc3545; 
    border: 2px solid #dc3545;
  }
  
  .submitted-value:hover::after {
    display: block; 
  }
  

  .content {
    position: relative;
    padding: 20px;
  }

  .line-numbers {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: right;
    color: #333;
    background-color: #f0f0f0;
    border-right: 2px solid #007bff;
  }

  .line-numbers pre {
    margin: 0;
    padding-right: 10px; /* To align with the textarea padding */
    line-height: 1.5; /* Same as textarea line height */
    font-family: monospace;
    user-select: none; /* Prevents line numbers from being selected */
  }
  
  .code-input {
    width: 100%;
    height: auto;
    line-height: 1.5;
    font-family: monospace;
    padding: 10px;
    border: 2px solid #007bff;
    background-color: #ffffff; 
    
  }
  
  .upload-button-container {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .file-info-container {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 10px; /* Adjust the gap as needed */
  }
  
  /* Hide the default file name display */
  .file-input {
    color: transparent;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .file-input-label {
    padding: 0.5em 1em;
    border: 2px solid #007bff;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;  
    color: #007bff; 
    border-radius: 10px; 
    transition: all 0.3s ease;  
  }

  .file-input-label:hover {
    background-color: #007bff;  
    color: white;  
  }
  
  .delete-file-button {
    background-color: #ffffff;
    border: 2px solid #ff2222;
    color: #ff2222;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .delete-file-button:hover {
    background-color: #ff2222;  
    color: white;  
  }
  
  
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #ffffff;
  }

  .choice-container {
    display: flex;
    justify-content: center;
  }
  
  .choice-container .button {
    padding: 0.625em 1.25em;
    margin: 0.25em 1em;
    border: 2px solid #007bff;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;  
    color: #007bff; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
  }
  
  .choice-container .button:hover,
  .choice-container .button.active {
    background-color: #007bff;  
    color: white;  
  }

  .upload-file-button {
    margin-right: 10px; /* Adjust as needed */
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .footer .button {
    padding: 0.625em 1.25em;
    border: 2px solid #007bff;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;  
    color: #007bff; 
    border-radius: 10px; 
    transition: all 0.3s ease;  
  }
  
  .footer .button:hover {
    background-color: #007bff;  
    color: white;  
  }
  
  
  